.header {
  display: flex;
  padding: 10px;
  background-color: var(--color-gray-700);
  color: var(--color-gray-300);
  transition:
    background-color var(--time-transition-theme-switch),
    border-bottom-color var(--time-transition-theme-switch);

  [data-theme="dark"] & {
    background-color: var(--color-gray-100);
  }
}

.headerLeftSide,
.headerRightSide {
  display: flex;
  align-items: center;
  flex: 1;
}

.headerRightSide {
  justify-content: flex-end;
}

.title {
  font-family: Source, 'Times New Roman', Times, serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
  transition: color var(--time-transition-theme-switch);

  [data-theme="dark"] & {
    color: var(--color-gray-900);
  }

  @media (max-width: 25rem) {
    font-size: 1.25rem;
  }
}
