.guessInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 6.75rem;
}

.guessInputWrapper label {
  font-size: 1.25rem;
  text-align: center;
  transition: color var(--time-transition-theme-switch);

  [data-theme="dark"] & {
    color: #FFF;
  }
}

.guessInputWrapper input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  letter-spacing: 0.1em;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-500);
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 700;
  transition:
    background-color var(--time-transition-theme-switch),
    border-color var(--time-transition-theme-switch),
    color var(--time-transition-theme-switch);

  [data-theme="dark"] & {
    background-color: var(--color-gray-300);
    color: #FFF;
    border-color: var(--color-gray-100);
  }
}
