.guess {
  display: flex;
  gap: var(--size-gap);
}

.cellOuter {
  --size-radius: 18px;
  --size-padding: 4px;
  position: relative;
  z-index: 1;
  width: 20%;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  font-weight: 700;
  border: solid 1px var(--color-gray-500);
  border-radius: var(--size-radius);
  color: white;
  background-color: var(--color-gray-800);
  transition:
    background var(--time-transition-theme-switch),
    border-color var(--time-transition-theme-switch);

  [data-theme="dark"] & {
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-100);
  }

  &.correct {
    background: linear-gradient(135deg, #00C098, #149172);
  }
  &.incorrect {
    background: linear-gradient(135deg, #9799a0, #5b5e68);

    [data-theme="dark"] & {
      background: linear-gradient(135deg, #45465D, #303249);
    }
  }
  &.misplaced {
    background: linear-gradient(135deg, #F9D65C, #CEAF4F);

  }
}

.cellInner {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  margin: var(--size-padding);
  border-radius: calc(var(--size-radius) - var(--size-padding));

  .correct & {
    background: linear-gradient(135deg, #136C56, #07BE97);
  }
  .incorrect & {
    background: linear-gradient(135deg, #5b5e68, #93959d);
    /* var(--color-gray-700); */

    [data-theme="dark"] & {
      background: linear-gradient(135deg, #30344C, #44455C);
    }
  }
  .misplaced & {
    background: linear-gradient(135deg, #A58D3F, #F8D55B);
  }
}
